<ul>
    <li>Report
        <ul>
            <li><a href="/report/cdr">Call records</a></li>
<!--            <li><a href="/report/extended" >Call records extended</a></li>-->
<!--            <li><a href="/report/noanswer" >Not answered</a></li>-->
<!--            <li><a href="/report/group">Group by Extension</a></li>-->
        </ul>
    </li>
    <li>Queue
        <ul>
            <li><a href="/queue">Show status</a></li>
        </ul>
    </li>
    <li>Diagnostics
        <ul>
            <li><a href="/diag/total">Total</a></li>
            <li><a href="/diag/database">Database</a></li>
        </ul>
    </li>
    <li>SIP
        <ul>
            <li><a href="/sip/registry">Sip Registry</a></li>
            <li><a href="/sip/peers">Sip Peers</a></li>
            <li><a href="/sip/channels">Channels</a></li>
            <li><a href="/sip/channelstats">Channel Stats</a></li>
        </ul>
    </li>
    <li><a href="/?is_exit=1">Logout</a></li>
    </li>
</ul>